.logo {
    margin-top: 39%;
    padding-left: 48px;
}

.backgroundWhite {
    background-color: white;
}

.colorBlack {
    color: black;
}

.colorRed {
    color: red;
}

.colorTable {
    color: #ff006a;
}

.colorGrenn {
    color: green;
}

.iconeLogo {
    color: #797878;
}

ul {
    list-style: none;
    display: flex;
}

.data {
    margin-top: 7px;
    margin-right: 10px;
}

.padding-top {
    padding-top: 20px;
}

.rigth {
    margin-right: 20px;
}

.left {
    margin-left: 25%;
}

.paddingDez {
    padding: 10px;
}

.text-decoration {
    text-decoration: none !important;
}

.fd_logo {
    margin-left: -80px;
}

.small-lither {
    font-size: 10px;
}

.icone {
    font-weight: bolder;
    padding: 4px;
}

.padding-lither {
    padding: 5px;
}

.float-rigth {
    float: right;
}

.maior {
    width: 110px !important;
}

.centro {
    margin: auto;
    width: 80%;
    position: relative;
    text-align: center
}

.centro img {
    width: 50%
}

.dentro {
    padding: 10px;
    top: 70%;
    left: 20%;
}

.centro hr {
    border-top: 0px solid rgba(0, 0, 0);
}

.borderradius {
    border-radius: 10px !important;
}

.labelinfo {
    /* padding: .375rem .75rem; */
    text-align: center;
    cursor: pointer;
    /* margin-top: 5%;
    width: 140px; */
    margin-bottom: 0px !important;
  
    
}
.textoanexar{
    padding-left: 10px;
    padding-right: 10px;
}

.roscovo input[type='file'] {
    display: none
}

.negritoad {
    font-weight: 600;
    color: black !important;
}

.negritoad hr{
    border-top: 0px solid rgba(0,0,0) !important;
}

.tamanhohr {
    margin-bottom: -14px;
}

.btn-block22 {
    display:block;
    float: right;
    margin-top: 8%;
    margin-left: 1%;
}

.botaoanexo {
    padding: 0.175rem .75rem !important;
}