.logo {
    margin-top: 39%;
    padding-left: 48px;
}

.backgroundWhite {
    background-color: white;
}

.colorBlack {
    color: black;
}

.colorRed {
    color: red;
}

.colorTable {
    color: #ff006a;
}

.colorGrenn {
    color: green;
}

.iconeLogo {
    color: #797878;
}

ul {
    list-style: none;
    display: flex;
}

.data {
    margin-top: 7px;
    margin-right: 10px;
}

.padding-top {
    padding-top: 20px;
}

.left {
    margin-left: 25%;
}

.paddingDez {
    padding: 10px;
}

.text-decoration {
    text-decoration: none !important;
}

.fd_logo {
    margin-left: -80px;
}

.small-lither {
    font-size: 10px;
}

.icone {
    font-weight: bolder;
}

.padding-lither {
    padding: 5px;
}

.float-rigth {
    float: right;
}

.maior {
    width: 110px !important;
}

.centro {
    margin: auto;
    width: 80%;
    position: relative;
    text-align: center
}

.centro img {
    width: 50%
    
}

.dentro {
    padding: 10px;
    top: 70%;
    left: 20%;
}

.centro hr {
    border-top: 0px solid rgba(0,0,0);
   
}

.borderradius {
    border-radius: 10px !important ;
}